body{
    background-image: url("../images/loginbg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.D9WLyEQaARfWqCTyVrpU{
    background-color: #577075;
}